body{
	margin: 0;
	padding: 0
}
header{
	width: 100%;
    background: #ff8d00;
    color: #fff;
}
.pos-header{
	width: 100%;
    background: #c5c5c5;
    padding-bottom: 10px;
}

.glyphicon{
	vertical-align: top;
}
.artist{
	margin: 20px 0;
}